.s-wrapper{
    position: relative;
    padding: 2rem 4rem;
}
.s-container{
    gap: 3rem;
}
.s-container img{
    transition: all 300ms ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width:90%;
    height: 100%;
    border-radius: 15px;
    
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
}
.s-wrapper h1{
    font-family: 700;
    color: #636e72;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}
.one img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow:0px 0px 56px rgba(69,69,69,.28);
}
.two img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow:0px 0px 56px rgba(69,69,69,.28);
}
.three img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow:0px 0px 56px rgba(69,69,69,.28);
}
.four img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow:0px 0px 56px rgba(69,69,69,.28);
}


@media(max-width: 766px){
    .s-container{
        flex-direction: column;
    }
    .s-container img{
        width: 20rem;
    }
}
@media(max-width: 545px){
    .s-wrapper h1{
        font-size: 2rem;
    }
}
@media(max-width: 460px){
    .s-wrapper h1{
        font-size: 1.8rem;
    }
    .s-container img{
        width: 17rem;
    }
}
@media(max-width: 429px){
    .s-wrapper h1{
        font-size: 1.5rem;
    }
    .s-container img{
        width: 16rem;
    }
}
@media(max-width: 429px){
    .s-wrapper h1{
        font-size: 1.3rem;
    }
}
@media(max-width: 344px){
    .s-wrapper h1{
        font-size: 1rem;
    }
}
